@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::selection {
  background: #10b981;
  color: #000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #1f1f23;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #27272a;
}

